
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;800&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-image: url('./background.jpg');
  background-position: center;
  background-size: cover;
  flex: 1;
  gap: 10px;
}


.buttonbox {
  display: flex;
  justify-content: space-around;
  align-self: center;
  text-align: center;
  border: gold solid 10px;
  border-radius: 70px;
  gap: 5px;
  padding: 25px;
}

#rock , #paper, #scissors, .computerImg, .playerImg {
  background-color: magenta;
  border-radius: 10px;
  color: white;
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  border-width: 5px;
  border-color: white;
  margin: 10px;
}

.rock:hover, .paper:hover, .scissors:hover, #reset:hover{
  transition: all 300ms;
  transform: scale(1.2);
}

.computerImg, .playerImg {
  background-image: url(./mystery.png);
}

#rock, .computerImg.rock, .playerImg.rock {
  background-image: url(./stone.png);
}

#paper, .computerImg.paper, .playerImg.paper{
 background-image: url(./paper.png);
}

#scissors, .computerImg.scissors, .playerImg.scissors{
  background-image: url(./scissors.png);
}


#paper {
  background-image: url(./paper.png);
}

#scissors {
  background-image: url(./scissors.png);
}

.header {
  display: flex;
  justify-content: center;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0;
}

.statbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: blue;
  padding: 10px;
  border: 10px solid white;
  border-radius: 30px 0px 0px 30px;
  height: 100%;
  border-right: 0;
}

#reset {
  width: 100px;
  height: 50px;
  border-radius: 7px;
  background-color: red;
  color: white;
  font-size: 0.75em;
  border-width: 5px;
  border-color: white;
}

.title {
  font-size: 3em;
  font-style: italic;
  color: gold;
  margin: 0;
}

.twitter {
  position: absolute;
  top: 0;
  right: 0;
  margin: 22px;
}

.twitter img {
  width: 3em;
  height: 3em;
}

.twitterIcon {
  transition: 0.8s;
}
.twitterIcon:hover {
  transform: scale(1.5);
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  font-style: italic;
}

#gameStatus {
  color: white;
  font-size: 1.5em;
}

.scoreboard {
  margin: 0;
  color: white;
}

.you {
  margin: 0;
  color: #17FD03;
}

.bot {
  margin: 0;
  color: red;
}

h3 {
  font-size: 2em;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.computerImg {
  margin-bottom:  30px;
}

.rockTxt, .scissorsTxt, .paperTxt {
  margin: 0;
  margin-top: 10px;
}

.vsText {
  display: flex;
  text-align: center;
  justify-content: center;
  color: red;
  margin: 0;
  font-size: 5em;
  font-style: italic;
  padding-left: 10px;
  padding-right: 15px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
}

#roundResult {
 color: gold;
}

.resultsArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: white solid 10px;
  align-self: center;
  border-radius: 70px;
  padding: 15px;
}

.computerImg, .playerImg {
  margin-bottom: 10px;
}

.playerImg {
  background-color: #17FD03;
}

.computerImg {
  background-color: red;
}

.computer, .player {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.youTxt, .botTxt {
  margin: 0;
  font-style: italic;
}

.youTxt {
  color: #17FD03;
}

.botTxt {
  color: red;
}


.choicesWrapper, .playersWrapper{
  display: flex;
  align-self: center;
  justify-content: center;
  width: 45%;
}

.playerIcons {
  display: flex;
  align-items: center;
}

.roundOutcome {
  margin: 0;
  font-style: italic;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
